extends ../layout
block content


  .row.app-card.mb-2.align-items-center.justify-content-between.bg-white.p-2.m-0
    .col-auto
      h1.app-page-title.mb-0 Users / Create User
    .col-auto
      .page-utilities
        .row.g-2.justify-content-start.justify-content-md-end.align-items-center
          .col-auto
            a.btn.app-btn-info(href='')
              i.fa.fa-refresh
              | &nbsp;Reset Page
          .col-auto
            a.btn.app-btn-danger(href='/users')
              i.fa.fa-chevron-left
              | &nbsp;Return
  
  div.row
    div.col-12.col-md-12
      div.app-card.app-card-settings.shadow-sm.p-4
        -if(errorMessage)
          div.alert.alert-danger(role='alert')=errorMessage
        div.app-card-body
          form(action="" method="POST")
            div.mb-3
              label.form-label(for='setting-input-1') Full Name
              input#fullName.form-control(type='text' name="fullName" required )
            div.mb-3
              label.form-label(for='setting-input-2') Email
              input#email.form-control(type='email' name="email" required )
            div.mb-3
              label.form-label(for='setting-input-2') Password
              input#password.form-control(type="password" name="password" required )
            div.mb-3
              label.form-label(for='setting-input-2') Confirm Password
              input#confirmPassword.form-control(type="password" name="confirmPassword" required )
            div.mb-3
              label.form-label(for='setting-input-2') Select User Role
              select.form-control(name="role")
                option(value="", disabled="", selected="") Choose User Role
                option(value="Admin") Admin
                option(value="Moderator") Moderator
                option(value="User") User
            div.mb-3
              label.form-label(for='setting-input-2') Avatar Link
              input#avatar.form-control(type='text', name="avatar" )
            
            button.btn.app-btn-primary(type='submit') Create User
  