extends ../../layout
block content


  .row.app-card.mb-2.align-items-center.justify-content-between.bg-white.p-2.m-0
    .col-auto
      h1.app-page-title.mb-0 Basic Setup / Property Area / Create
    .col-auto
      .page-utilities
        .row.g-2.justify-content-start.justify-content-md-end.align-items-center
          .col-auto
            a.btn.app-btn-info(href='')
              i.fa.fa-refresh
              | &nbsp;Reset Page
          .col-auto
            a.btn.app-btn-danger(href='/basic-setup/property-area')
              i.fa.fa-chevron-left
              | &nbsp;Return
  
  div.row
    div.col-12.col-md-12
      div.app-card.app-card-settings.shadow-sm.p-4
        -if(errorMessage)
          div.alert.alert-danger(role='alert')=errorMessage
        div.app-card-body
          form(action="" method="POST")
            div.row
              div.col-12.col-md-6.mb-2
                label.form-label(for='lang') Language
                select.form-control(name="lang" required )
                  option(value="", disabled="", selected="") Choose Language
                  each lang in langList
                    option(value=lang.value) #{lang.title}
              div.col-12.col-md-6.mb-2
                label.form-label(for='areaName') Area Name
                input#areaName.form-control(type='text' name="areaName" required )
              div.col-12.col-md-6.mb-2
                label.form-label(for='areaDescription') Area Description
                textarea#areaDescription.form-control(name="areaDescription" required )
              div.col-12.col-md-6.mb-2
                label.form-label(for='areaThumbnail') Area Thumbnail URL
                input#areaThumbnail.form-control(type='text' name="areaThumbnail" required )
            //- submit button
            hr
            button.btn.app-btn-primary(type='submit') Create Property Area
  