extends ../layout
block content


  .row.app-card.mb-2.align-items-center.justify-content-between.bg-white.p-2.m-0
    .col-auto
      h1.app-page-title.mb-0 File Drive / New Folder
    .col-auto
      .page-utilities
        .row.g-2.justify-content-start.justify-content-md-end.align-items-center
          .col-auto
            a.btn.app-btn-info(href='')
              i.fa.fa-refresh
              | &nbsp;Reset Page
          .col-auto
            a.btn.app-btn-danger(href='/file-drive')
              i.fa.fa-chevron-left
              | &nbsp;Return
  

  div.row
    div.col-12.col-md-12
      div.app-card.app-card-settings.shadow-sm.p-4
        -if(errorMessage)
          div.alert.alert-danger(role='alert')=errorMessage
        div.app-card-body
          form(action="" method="POST")
            div.row
              
              div.col-12.col-md-6.mb-2
                label.form-label(for='folderName') Folder Name
                input#folderName.form-control(type='text' name="folderName" required )
              div.col-12.col-md-6.mb-2
                label.form-label(for='remarks') Remarks
                textarea#remarks.form-control(name="remarks" rows='2' )
            //- submit button
            hr
            button.btn.app-btn-primary(type='submit') Create New Folder
  